{% extends "todo/index.html" %}
{% load static %}
{% block content %}
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	    	{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{message}}
					</div>
				{% endfor %}
			{% endif %}
			{% block TODO %}{% endblock %}
	    </div>
	    <div class="col-md-4">
	      <label for="subject-taught">Get a todo</label>
	      	<form action="{% url 'todo-get' %}" method="GET">
                <select name="ID" class="custom-select d-block w-100" required >
                    {% for todos in todoitem %}
                        <option value={{todos.auto_inc_id}}>{{ todos.auto_inc_id }}</option>
                    {% endfor %}
                </select>
                    <button type=submit>Get Todo by Id</button>
            </form>
	    </div>
	  </div>
	</main>
{% endblock content %}