{% extends "todo/index.html" %}
{% load static %}
{% block content %}
	{% for items in todoitems %}
	<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">{{ items.author }}</a>
		      <small class="text-muted">{{ items.auto_inc_id }}</small>
		    </div>
		    <h3><a class="article-title">{{ items.item }}</a></h3>
		    <p class="article-content">{{ items.date_created }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}