{% extends "todo/index.html" %}
{% block content %}
	<div class="content-section d-flex justify-content-center">
		<article class="media content-section d-flex justify-content-center">
		  <div class="media-body">
		    <div class="Todo-metadata">
		      <a class="mr-2">{{ todoitems.author }}</a>
		      <small class="text-muted">{{ todoitems.auto_inc_id }}</small>
		    </div>
		    <h3><a class="Todo-title">{{ todoitems.item }}</a></h3>
		    <p class="Todo-content">{{ todoitems.date_created }}</p>
		  </div>
		</article>
	</div>
	<div class="content-section d-flex justify-content-center">
		<a class = "btn btn-secondary mt-1 mb-1" href="{% url 'todo-update' todoitems.auto_inc_id %}">Update</a> &nbsp;
		<a class = "btn btn-danger mt-1 mb-1" href="{% url 'todo-delete' todoitems.auto_inc_id %}">Delete</a>
	</div>
{% endblock content %}